@font-face {
    font-family: Homemade Apple;
    src: url(../font/across-the-road.ttf);
}

/* Skrevet i hånden af Mathias Hedin Schjøtt */
/* ==============================================
                     Header
=============================================== */

.topbar {
	background-color: #972126;
	text-align: center;
}

#logo {
	margin: 20px 0px;
}

#logo img {
	max-height: 150px;
}

/* Skrevet i hånden af Mathias Hedin Schjøtt */
/* ==============================================
                    Navigation
=============================================== */

nav { 
	background: #FFF;
}

nav a { 
	color: #972126; 
	font-weight: bold; 
	font-size: 14px;
}

nav ul.navbar-nav a { 
	color: #972126; 
	border-style: solid; 
	border-width: 0 0 5px 0; 
	border-color: #FFF; 
}

nav ul.navbar-nav a:hover,
nav ul.navbar-nav a:visited,
nav ul.navbar-nav a:focus,
nav ul.navbar-nav a:active { 
	background: #FFF; 
}

nav ul.navbar-nav a:hover,
#navbar > ul > li.active > a,
nav.navbar-static-top ul.navbar-nav a:focus { 
	border-color: #972126; 
}

nav li.divider { 
	background: #ccc; 
}

nav button.navbar-toggle { 
	background: #972126; 
	border-radius: 2px; 
}

nav button.navbar-toggle:hover { 
	background: #999; 
}

nav button.navbar-toggle > span.icon-bar {
	background: #fff; 
}

nav ul.dropdown-menu { 
	border: 0; 
	background: #fff; 
	border-radius: 4px; 
	margin: 4px 0; 
	box-shadow: 0 0 4px 0 #ccc; 
}

nav ul.dropdown-menu > li > a { 
	color: #444; 
}

nav ul.dropdown-menu > li > a:hover { 
	background: #972126;
	color: #fff;
}

.navbar { 
	margin-bottom: 0px; 
}

.container-fluid { 
	padding: 0px; 
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

/* Skrevet i hånden af Mathias Hedin Schjøtt */
/* ==============================================
                  Main content
=============================================== */

main h1 {
	font-size: 20px;
}

.leverandoerer img {
	padding: 5px;
}

.panel {
	width: 31%;
	margin: 8px;
}

.customer-name {
	font-family: 'Homemade Apple', serif;
	font-size: 20px;
	font-weight: bold;
}

/* Skrevet i hånden af Mathias Hedin Schjøtt */
/* ==============================================
                  Footer
=============================================== */

footer {
	margin-top: 75px;
	background-color: #444;
	color: #FFFFFF;
	padding: 30px 0px 10px 0px;
	text-align: center;
}

footer address a {
	color: #FFF;
}

footer address a:hover {
	text-decoration: none;
}

footer address a:link {
	color: #FFF;
	text-decoration: none;
}

/* Skrevet i hånden af Mathias Hedin Schjøtt */
/* ==============================================
                  Scrollbar
=============================================== */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #666666;
  border-radius: 26px;
}

::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Skrevet i hånden af Mathias Hedin Schjøtt */
/* ==============================================
                Media Queries
=============================================== */

@media (min-width: 1200px) {
	.container {
		width: 1000px;
	}
}

@media (max-width: 767px) {
	.panel {
		width: 100%;
		margin: 8px;
	}
}
